@{
  
    Layout = null;
}
@model CarBook.Dto.AdminDTOs.CreateCarDto

<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Araba Ekleme</h4>
                <p class="card-subtitle mb-4">Textual form controls—like <code>input</code>s,<code> selects</code>, and<code> textare</code>s—are styled with the .form-control class. Included are styles for general appearance, focus state, sizing, and more. </p>

                <form asp-controller="Admin" asp-action="CreateCar" method="post">
                    <div class="form-group">
                        <label for="simpleinput">Marka</label>
                        @Html.DropDownListFor(x => x.BrandId, (List<SelectListItem>)ViewBag.items, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlInput1">Model</label>
                        <input type="text" class="form-control" placeholder="Model Giriniz" asp-for="@Model.Model">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Kapak Fotografi</label>
                        <input type="text" class="form-control" placeholder="Kapak Fotografi Linki Giriniz" asp-for="@Model.CoverImageUrl">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Kilometre</label>
                        <input type="number" class="form-control" placeholder="Kilometre Giriniz" asp-for="@Model.Km">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Vites</label>
                        <input type="text" class="form-control" placeholder="Vites Giriniz"asp-for="@Model.Vites">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Koltuk Sayisi</label>
                        <input type="number" class="form-control" placeholder="Koltuk Sayisi Giriniz" asp-for="@Model.Koltuk">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Bagaj Sayisi</label>
                        <input type="number" class="form-control" placeholder="Bagaj Sayisi Giriniz" asp-for="@Model.Bagaj">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Yakit Turu</label>
                        <input type="text" class="form-control" placeholder="Yakit Turu Giriniz" asp-for="@Model.Fuel">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Detayli Resim</label>
                        <input type="text" class="form-control" placeholder="Detayli Resim Linki Giriniz" asp-for="@Model.DetailImageUrl">
                    </div>

                    <button>
                        Kaydet
                    </button>

                </form>
            </div>
            <!-- end card-body-->
        </div>
        <!-- end card -->

    </div> <!-- end col -->


</div>