@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

@model List<CarBook.Dto.ContactDTOs.ResultContactDto>

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Gelen Mesajlar </h4>
                <p class="card-subtitle mb-4">
                    Iletisim sayfasindan gonderilen mesajlar.
                </p>
                <div class="table-responsive">
                    <table class="table table-bordered mb-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Isim Soyisim</th>
                                <th>Email</th>
                                <th>Konu</th>
                                <th>Aciklama</th>
                                <th>Zaman</th>


                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <th scope="row">@count</th>
                                    <td>@item.Name</td>
                                    <td>@item.Email</td>
                                    <td>@item.Subject</td>
                                    <td>@item.Description</td>
                                    <td>@item.DateTime</td>
                                </tr>
                            }
                        </tbody>
                    </table>

            
                </div>

            </div>
            <!-- end card-body-->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
    <!-- end col -->
</div>