@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

@model List<CarBook.Dto.BannerDTOs.ResultBannerDto>

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Banner</h4>
                <p class="card-subtitle mb-4">
                    Uygulama Butunlugu Geregi Sadece Bir Tane Veri Olmasi Gerekmektedir!!!
                </p>
                <div class="table-responsive">
                    <table class="table table-bordered mb-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Baslik</th>
                                <th>Aciklama</th>
                                <th>Video Aciklamasi</th>
                                <th>Video Linki</th>
                                <th>Sil</th>
                                <th>Guncelle</th>
                                <th>Videoyu Izle</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr>
                                    <th scope="row">@Model.Count</th>
                                    <td>@item.Title</td>
                                    <td>@item.Description</td>
                                    <td>@item.VideoDescription</td>
                                    <td>@item.VideoURL</td>
                                    <td><a href="/AdminBanner/RemoveBanner/@item.Id" class="btn btn-outline-danger">Sil</a></td>
                                    <td><a href="/AdminBanner/UpdateBanner/@item.Id" class="btn btn-outline-success">Guncelle</a></td>
                                    <td><a href="@item.VideoURL" class="btn btn-outline-success">Videoyu Izle</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    @if (Model.Count < 1)
                    {
                        <a href="/AdminBanner/CreateBanner/" class="btn btn-outline-primary">Yeni Banner Girisi</a>
                    }


                </div>

            </div>
            <!-- end card-body-->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
    <!-- end col -->
</div>